@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.grid-container{
    display: grid;
    grid-template-rows:    repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    grid-gap: 100px;
    justify-content: center;
}

.rectangles{
    border: 1px solid;
    width:550px;
    height:300px;
    font-family: 'Quicksand', sans-serif;
}

.title-heading{
    padding-left:20px;
    margin-bottom: -10px;
    width: 50%;
}

.author{
    padding-left: 20px;
    font-style: italic;
}

.blog-content{
    padding-left: 20px;
}

img{
    float:left
}